@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About <strong>Ed - Ex Tutor Service</strong></h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="img/tutor_1.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>Ed - Ex Tutor service is all about putting the needs of the individual student first. It will advise on and deliver planned programmes of study to prepare the student for internationally accredited qualification examination in Sofia Bulgaria.</p>
            <p>Ed - Ex Tutor service work on a one to one basis or in very small groups in a formal setting combining didactic and student centred techniques in order to maximise the learning.</p>
            <p>Tutors are UK Educated and in the case of ESL are Native Speakers with both subject experience and pedagogical training.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Our <strong>Team</strong></h2>
            <hr>
        </div>
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <img src="img/john.jpg" alt="">
            <h3>John Jamieson <br><small>Math & English Tutor</small></h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
